{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'combinations/css/combinations.css' %}" type="text/css">
{% endblock extrahead %}
{% block main %}
  <div class="container">
    <div class="row">
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Calculate">
        <button type="submit" name="reset" value="true">Reset</button>
      </form>
    </div>
    <div class="row">
      <h4>Combinations ({{ total_combs }})</h4>
      <div class="col-md-8 comb-list">  <!-- Updated class name -->
        {% if error %}
          <h3>{{ error }}</h3>
        {% elif combs == None %}
          Press "Calculate" to get combinations
        {% else %}
          {% for comb in combs %}
            <div class="card-group comb-group">
              {% for stamp in comb.stamps %}
                <div class="card comb-card h-100 position-relative">
                  <img class="card-img-top" src="{{ stamp.sample.image }}" alt="..."/>
                  <div class="card-body">
                    <form method="post">
                      {% csrf_token %}
                      <div class="btn-group btn-group-sm text-center" role="group">
                        <button class="btn btn-success" name="use_stamp" value="{{ stamp.id }}">Use</button>
                        <button class="btn btn-warning" name="remove_stamp" value="{{ stamp.id }}">Remove</button>
                      </div>
                    </form>
                  </div>
                </div>
              {% endfor %}
              <div class="card comb-card h-100">
                <div class="card-body">
                  {{ comb.sum }}
                </div>
              </div>
            </div>
          {% empty %}
            No combinations found
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-md-4 desks">  <!-- Updated class name -->
        <div class="container">
          <div class="row" id="stamps-on-postcard">  <!-- postcard -->
            <h4>On postcard</h4>
            <div class="card-group comb-group">
              {% for stamp in used_stamps %}
                <div class="card comb-card h-100">
                  <img class="card-img-top" src="{{ stamp.sample.image }}" alt="..."/>
                </div>
              {% endfor %}
            </div>
            <form action="{% url 'combinations:stick_stamps' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-success w-100" type="submit">Stick to postcard</button>
            </form>
          </div>
          <div class="row" id="removed-stamps">  <!-- removed -->
            <h4>Removed</h4>
            <div class="card-group comb-group">
              {% for sample in removed_stamps %}
                <div class="card comb-card h-100">
                  <img class="card-img-top" src="{{ sample.image }}" alt="..."/>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <span class="step-links">
        {% if combs.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ combs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          {% if combs.paginator.num_pages > 1 %}
            Page {{ combs.number }} of {{ combs.paginator.num_pages }}
          {% endif %}
        </span>

        {% if combs.has_next %}
          <a href="?page={{ combs.next_page_number }}">next</a>
          <a href="?page={{ combs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock main %}
