{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'combinations/css/index.css' %}">
{% endblock extrahead %}
{% block main %}
  <form method="post" class="form-group">
    {% csrf_token %}
    <div>
      {{ form.as_div }}
      <input type="submit" value="Save" id="colnect-submit" class="btn">
    </div>
  </form>
  <div class="sample-cards">
    {% for sample in stampsample_list %}
      <div class="sample-cards__item">
        <h4>{{ sample.name }}</h4>
        <p>Value: {{ sample.value }}</p>
        <p><img src="{{ sample.image }}"></p>
      </div>
    {% empty %}
      <p>No samples added</p>
    {% endfor %}
  </div>
  <ul>
  </ul>
{% endblock %}
