{% extends 'base/base.html' %}
{% load static %}
{% load icon %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'combinations/css/stamp-sample-list.css' %}">
{% endblock extrahead %}
{% block main %}
  <form method="post" class="form-group">
    {% csrf_token %}
    <div>
      {{ form.as_div }}
      <input type="submit" value="Save" id="colnect-submit" class="btn">
    </div>
  </form>
  <div class="main-wrapper">
    <div class="stamps-column">
      {% for sample in samples %}
        <div class="card border-0 sample-card h-100">
          <h5 class="card-header bg-transparent border-0">
            {{ sample.name }}
          </h5>
          <div class="d-flex justify-content-center align-items-center">
            <img src="{{ sample.image }}" class="card-img-top sample-image" alt="...">
          </div>
          <div class="card-body stamp-body">
            <div class="card-text">{{ stamp.comment }}</div>
          </div>
          <div class="card-footer bg-transparent stamp-footer">
            <div class="stamp-value-count">{{ sample.value }}&nbsp;&#8381;</div>
            <div class="stamp-controls">
              <a class="stamp-edit-icon"
                 href="{% url 'combinations:user-stamp-add' sample.id %}">{% icon "plus-square" %}</a>
            </div>
          </div>
        </div>
      {% empty %}
        <p>No samples added</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
