{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'combinations/css/user-stamp-list.css' %}">
{% endblock extrahead %}
{% block main %}
  <div class="main-wrapper">
    <div class="stamps-column">
      {% for stamp in stamps.values %}
        <div class="card stamp-card">
          <img src="{{ stamp.sample.image }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ stamp.sample.name }}</h5>
            <p class="card-text text-center">{{ stamp.sample.value }}&nbsp;&#8381;&nbsp;&times;&nbsp;{{ stamp.quantity }}</p>
{#            <ul class="card-text">#}
{#              <li>Value: {{ stamp.sample.value }}</li>#}
{#              <li>Quantity: {{ stamp.quantity }}</li>#}
{#            </ul>#}
{#            <div >Value: {{ stamp.sample.value }}</div>#}
{#            <div class="card-text">Value: {{ stamp.sample.value }}</div>#}
{#            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's#}
{#              content.</p>#}
{#            <div class="card-footer">#}
{#              <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#            </div>#}
          </div>
        </div>
        {#        <div class="card">#}
        {#          <div class="card__cover">#}
        {#            <img class="user-list-image" src="{{ stamp.sample.image }}">#}
        {#          </div>#}
        {#          <div class="card__content">#}
        {#            <h4>{{ stamp.sample.name }}</h4>#}
        {#            Value: {{ stamp.sample.value }}#}
        {#            <span class="stamps-quantity">&times;{{ stamp.quantity }}</span>#}
        {#          </div>#}
        {#        </div>#}
      {% empty %}
        <div>
          <p>User has no stamps added</p>
        </div>
      {% endfor %}
    </div>
    <div class="edit-column">
      <div class="add-cell">
        <form method="post" class="form-group">
          {% csrf_token %}
          {{ form_create.as_div }}
          <input type="submit" value="Save" class="btn">
        </form>
      </div>
    </div>
  </div>
{% endblock main %}
