.main-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2em;
}

.stamps-column {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 5em;
}

.filter-column {
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(4, min-content);
}

.sample-card {
    width: 16rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    text-align: center;
}

.sample-image {
    max-height: 150px;
    width: auto;
    max-width: 100%;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

.stamp-controls {
    float: right;
    text-align: right;
}

.stamp-value-count {
    display: inline-block;
    float: left;
    font-size: 1.1rem;
    padding-top: 0.1rem;
}

.stamp-edit-icon {
    display: inline-block;
    float: right;
    padding-right: 0.4rem;
    color: rgb(128, 128, 128);
}

.stamp-footer {
    justify-items: stretch;
    border-top: none;
    background-color: transparent;
}
